parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Vite\:\:getAssetUrls\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Asset/Infrastructure/Services/ViteManager.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Foundation\\Vite is not subtype of native type \$this\(Pollora\\Asset\\Infrastructure\\Services\\ViteManager\)\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Asset/Infrastructure/Services/ViteManager.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\RouteCollectionInterface\:\:count\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Modules/UI/Helpers/discovery_functions.php

		-
			message: '#^PHPDoc type mysqli\|PDO\|false\|null of property Pollora\\Proxy\\WordPressDatabase\:\:\$dbh is not covariant with PHPDoc type mysqli\|false\|null of overridden property wpdb\:\:\$dbh\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Proxy/WordPressDatabase.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\Route\:\:setCondition\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\Route\:\:setConditionParameters\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\Route\:\:setIsWordPressRoute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\Router\:\:resolveCondition\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Call to an undefined static method Illuminate\\Support\\Facades\\Route\:\:wpMatch\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Class Pollora\\ThirdParty\\WooCommerce\\WooCommerce not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/ThirdParty/WooCommerce/Infrastructure/Providers/WooCommerceServiceProvider.php
