parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Vite\:\:getAssetUrls\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Asset/Infrastructure/Services/ViteManager.php

		-
			message: '#^Call to an undefined method Pollora\\Asset\\Infrastructure\\Services\\ViteManager\:\:assetPath\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Asset/Infrastructure/Services/ViteManager.php

		-
			message: '#^Call to an undefined method Pollora\\Asset\\Infrastructure\\Services\\ViteManager\:\:manifest\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Asset/Infrastructure/Services/ViteManager.php

		-
			message: '#^Access to an undefined property Pollora\\Attributes\\Attributable\:\:\$classPermission\.$#'
			identifier: property.notFound
			count: 1
			path: src/Attributes/WpRestRoute/Method.php

		-
			message: '#^Access to an undefined property Pollora\\Attributes\\Attributable\:\:\$namespace\.$#'
			identifier: property.notFound
			count: 1
			path: src/Attributes/WpRestRoute/Method.php

		-
			message: '#^Access to an undefined property Pollora\\Attributes\\Attributable\:\:\$route\.$#'
			identifier: property.notFound
			count: 2
			path: src/Attributes/WpRestRoute/Method.php

		-
			message: '#^Constant AUTH_COOKIE not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/Auth/WordPressGuard.php

		-
			message: '#^Constant SECURE_AUTH_COOKIE not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/Auth/WordPressGuard.php

		-
			message: '#^Access to an undefined property WP_Upgrader_Skin\:\:\$plugin\.$#'
			identifier: property.notFound
			count: 1
			path: src/Events/WordPress/Installer/InstallerEventDispatcher.php

		-
			message: '#^Access to an undefined property WP_Upgrader_Skin\:\:\$theme\.$#'
			identifier: property.notFound
			count: 1
			path: src/Events/WordPress/Installer/InstallerEventDispatcher.php

		-
			message: '#^Call to static method get_entry\(\) on an unknown class GFAPI\.$#'
			identifier: class.notFound
			count: 3
			path: src/Events/WordPress/Plugins/GravityForms/GravityFormsEventDispatcher.php

		-
			message: '#^Call to static method get_form\(\) on an unknown class GFAPI\.$#'
			identifier: class.notFound
			count: 3
			path: src/Events/WordPress/Plugins/GravityForms/GravityFormsEventDispatcher.php

		-
			message: '#^Parameter \$order of method Pollora\\Events\\WordPress\\Plugins\\WooCommerce\\OrderStatusChanged\:\:__construct\(\) has invalid type WC_Order\.$#'
			identifier: class.notFound
			count: 1
			path: src/Events/WordPress/Plugins/WooCommerce/OrderStatusChanged.php

		-
			message: '#^Property Pollora\\Events\\WordPress\\Plugins\\WooCommerce\\OrderStatusChanged\:\:\$order has unknown class WC_Order as its type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Events/WordPress/Plugins/WooCommerce/OrderStatusChanged.php

		-
			message: '#^Class WC_Order not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Events/WordPress/Plugins/WooCommerce/WooCommerceEventDispatcher.php

		-
			message: '#^Function wc_get_order not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Events/WordPress/Plugins/WooCommerce/WooCommerceEventDispatcher.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$meta_value\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Attachment.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: src/Plugin/Infrastructure/Models/LaravelPluginModule.php

		-
			message: '#^Call to an undefined method Illuminate\\Container\\Container::getCachedConfigPath\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Plugin/Infrastructure/Models/LaravelPluginModule.php

		-
			message: '#^Call to an undefined method Illuminate\\Container\\Container::getCachedServicesPath\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Plugin/Infrastructure/Models/LaravelPluginModule.php

		-
			message: '#^Call to an undefined method Illuminate\\Container\\Container::getCachedConfigPath\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Theme/Infrastructure/Models/LaravelThemeModule.php

		-
			message: '#^Call to an undefined method Illuminate\\Container\\Container::getCachedServicesPath\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Theme/Infrastructure/Models/LaravelThemeModule.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 14
			path: src/Plugin/config/plugin.php

		-
			message: '#^Dead catch \- ReflectionException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 2
			path: src/PostType/Infrastructure/Services/PostTypeDiscovery.php

		-
			message: '#^Property Pollora\\Proxy\\WordPressDatabase\:\:\$dbh \(mysqli\|false\|null\) does not accept PDO\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Proxy/WordPressDatabase.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\Route\:\:setCondition\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\Route\:\:setConditionParameters\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\Route\:\:setIsWordPressRoute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Call to an undefined static method Illuminate\\Support\\Facades\\Route\:\:wpMatch\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Constant WPINC not found\.$#'
			identifier: constant.notFound
			count: 2
			path: src/Services/WordPress/Installation/WordPressInstallLoaderService.php

		-
			message: '#^Access to an undefined property WP_Post\:\:\$children\.$#'
			identifier: property.notFound
			count: 2
			path: src/Support/RecursiveMenuIterator.php

		-
			message: '#^Class Pollora\\Support\\RecursiveMenuIterator @extends tag contains incompatible type iterable\<int, WP_Post\>&Pollora\\Support\\AbstractRecursiveIterator\.$#'
			identifier: generics.notCompatible
			count: 1
			path: src/Support/RecursiveMenuIterator.php

		-
			message: '#^Constant WPINC not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/Support/WordPress.php

		-
			message: '#^Method Pollora\\Taxonomy\\Infrastructure\\Adapters\\WordPressTaxonomyRegistry\:\:getAll\(\) should return array\<string, WP_Taxonomy\> but returns array\<int, WP_Taxonomy\>\.$#'
			identifier: return.type
			count: 1
			path: src/Taxonomy/Infrastructure/Adapters/WordPressTaxonomyRegistry.php

		-
			message: '#^Dead catch \- ReflectionException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 2
			path: src/Taxonomy/Infrastructure/Services/TaxonomyDiscovery.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: src/Theme/Infrastructure/Models/LaravelThemeModule.php

		-
			message: '#^Class Pollora\\ThirdParty\\WooCommerce\\View\\WooCommerceTemplateResolver not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/ThirdParty/WooCommerce/Infrastructure/Providers/WooCommerceServiceProvider.php

		-
			message: '#^Class Pollora\\ThirdParty\\WooCommerce\\WooCommerce not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/ThirdParty/WooCommerce/Infrastructure/Providers/WooCommerceServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\View\\View\:\:makeLoader\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/ThirdParty/WooCommerce/Infrastructure/Services/WooCommerce.php

		-
			message: '#^Constant WP_CLI_VERSION not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/WpCli/Infrastructure/Adapters/WpCliAdapter.php
