parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Vite\:\:getAssetUrls\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Asset/Infrastructure/Services/ViteManager.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Foundation\\Vite is not subtype of native type \$this\(Pollora\\Asset\\Infrastructure\\Services\\ViteManager\)\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Asset/Infrastructure/Services/ViteManager.php

		-
			message: '#^Offset 1 on array\{list\<string\>, list\<non\-empty\-string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Attributes/WpRestRoute/Method.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$meta_value\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Attachment.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\RouteCollectionInterface\:\:count\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Modules/UI/Helpers/discovery_functions.php

		-
			message: '#^Dead catch \- ReflectionException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/PostType/Infrastructure/Services/PostTypeDiscovery.php

		-
			message: '#^Property Pollora\\Proxy\\WordPressDatabase\:\:\$dbh \(mysqli\|false\|null\) does not accept PDO\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Proxy/WordPressDatabase.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\Route\:\:setCondition\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\Route\:\:setConditionParameters\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\Route\:\:setIsWordPressRoute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Routing\\Router\:\:resolveCondition\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Call to an undefined static method Illuminate\\Support\\Facades\\Route\:\:wpMatch\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Route/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: '#^Method Pollora\\Taxonomy\\Infrastructure\\Adapters\\WordPressTaxonomyRegistry\:\:getAll\(\) should return array\<string, WP_Taxonomy\> but returns array\<int, WP_Taxonomy\>\.$#'
			identifier: return.type
			count: 1
			path: src/Taxonomy/Infrastructure/Adapters/WordPressTaxonomyRegistry.php

		-
			message: '#^Dead catch \- ReflectionException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/Taxonomy/Infrastructure/Services/TaxonomyDiscovery.php

		-
			message: '#^Class Pollora\\ThirdParty\\WooCommerce\\WooCommerce not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/ThirdParty/WooCommerce/Infrastructure/Providers/WooCommerceServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\View\\View\:\:makeLoader\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/ThirdParty/WooCommerce/Infrastructure/Services/WooCommerce.php

		-
			message: '#^Anonymous function never returns array so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/View/Infrastructure/Services/FileSystemTemplateFinder.php

		-
			message: '#^Offset string on array\{\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/View/Infrastructure/Services/WordPressTemplateHierarchyFilter.php

		-
			message: '#^Call to an undefined method Illuminate\\View\\View\:\:getCompiled\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/View/ViewServiceProvider.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/WpCli/Infrastructure/Adapters/WpCliAdapter.php
