includes:
    - phpstan-baseline.neon
    # phpstan-ignore-rules.neon uses excludeRules which requires Larastan
    # - phpstan-ignore-rules.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php

    treatPhpDocTypesAsCertain: false

    paths:
        - src/

    level: 5